
<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>

   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/CSS/styles.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="/CSS/bootstrap-3.3.6-dist/css/bootstrap.min.css">

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>




<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

<style>
/* Dropdown Button */
.dropbtn {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
   margin-left:auto;
   padding-left: 350px;
   float: right;
   margin-left: 130px;
}
.dropdown1 {
   position: relative;
   display: inline-block;
   margin-left:auto;
   /*padding-left: 480px;*/
   float: right;
   margin-left: 130px;
}
.dropdown12 {
   position: relative;
   display: inline-block;
   float: right;
   margin-left: 130px;
   margin-left:auto;
   padding-left:200px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   background-color: #3e8e41;
}

</style>
  </head>

  <body class="body">


 <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        
      {{#if isAdmin}}
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/index">Statistics</a></li>


      <li><a href="/categories">Categories</a></li>
      <li><a href="/sales">Sales</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/purchases">Purchases</a></li>
      <li><a href="/users">Users</a></li>

      <!-- <div class="dropdown1"> -->
      <!-- <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->

    <!-- </div> -->
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown">
       <button class="dropbtn">Current user: </button>
       <div class="dropdown-content">
         <a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
         <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
         <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
    </div>
   </div>
  </ul>
 </ul>
</div>
</div>
</nav>



  {{else}}

  <li class="active"><a href="/">Home</a></li>
  <li><a href="/aboutus">About Us</a></li>
  <li><a href="/index">Statistics</a></li>
  <li><a href="/categories">Categories</a></li>
  <li><a href="/products">Products</a></li>
  <!-- <div class ="spacer" width="20px"></div> -->

   <!-- <div class="dropdown1">
     <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

  </div>  -->
  <ul class="nav navbar-nav navbar-right">
    <div class="dropdown1">
      <div class="dropdown">
      <button class="dropbtn">Current user:</button>
      <div class="dropdown-content">
        <a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </div>
    </div>
  </div>
  </ul>
{{/if}}

{{#unless isAdmin}}
{{#unless isUser}}
<div class="dropdown12"></div>

{{/unless}}
{{/unless}}



</ul>
</div>

</nav>
{{{body}}}
<script type="text/javascript" src="/CSS/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
  </body>
  <script>
  $(function() {
    $('#lockSwitch').bootstrapToggle({
      on: 1,
      off: 0
    });
  })
  </script>
<script>

  $(function() {
    $('#adminSwitch').bootstrapToggle({
      on: 1,
      off: 0
    });
  })

  </script>


  <script>

  $('.datepicker').datepicker({

      calendarWeeks: true,
      selectMonths:true,
      format: 'dd/mm/yy'

  });
  </script>
</html>
