<div class= "row-list">
<h1>Add Category</h1>
<form action="/categories/addCategory" method="POST">
	<div class="">
    <h4>Category Name</h4>
    <input type="text" name="category" value="{{data.category}}">
	</div>
	<hr>
	<input
		<button type ="submit" class="btn btn-primary"> </button>

</form>
</div>
