<form action ="/categories/search/" method="POST">
   <input id="searchBar" type="text" name="searchVal" placeholder="Search.." >
  <!-- <button> <input type="submit" value="submit"></button> -->

</form>
<ul id="categoriesSearch"class="row-list">

  <li class="col-md-6 head"><b>Category</b></li>
  <a href="/categories/addCategory"><div class="btn btn-primary col-md-6 "><b>Add Category</b></div></a>


        {{#categories}}

          <li class="col-md-6 db-List"> {{category}}</li>
          <a href="/categories/editCategory/{{id}}" class="btn btn-primary col-md-4 ">Edit</a>
          <a href="/categories/delete/{{id}}" class="btn btn-primary col-md-2 ">Delete</a>
        {{/categories}}
    </ul>

    <script>
    $(document).ready(function() {
      $('#searchBar').keyup(function(){
        var searchVal= $("#searchBar").val();
        $.get("/categories/search/" + searchVal, function(results){
          console.log(searchVal);
          $("#categoriesSearch").html(results)
        });
        if(searchVal.length === 0){
          location.reload();
        }
      })

    })
    </script>
