<div class="row-list">
  <h1>Edit users</h1>

  <form action="/users/update/{{data.id}}" method="POST">
    <div>
      <h1>Name:</h1>
  		<input type="text" name="username" value="{{data.username}}" >


      <h2>User Type</h2>
      <input name="admin" data-toggle="toggle" data-on="Regular User" data-off="Admin" type="checkbox">
      <!-- <input id="adminSwitch" name="admin" type="checkbox" data-toggle="toggle"> -->

        <h2>User is Locked:</h2>
        <input name="lock" data-toggle="toggle" data-on="True" data-off="False" type="checkbox">
        <!-- <input id="lockSwitch" type="checkbox"> -->
    </div>
    <br>
  	<input class="btn btn-primary" type="submit" value="Edit User">
  </form>

</div>
