
<!DOCTYPE html>
<html>
  <head>
    <title> Nelisa Spaza Shop </title>
    <link href="./public/CSS/bootstrap.css" type="text/css" rel="stylesheet">
   <link href="../public/CSS/styles.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>




  <body class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Nelisa Spaza Shop</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="./homepage.handlebars">Home</a></li>
          <li><a href="./aboutus.handlebars">About Us</a></li>
          <li><a href="./index.handlebars">Statistics</a></li>
          <li><a href="./sales.handlebars">Sales</a><li>
          

        </ul>
      </div>
    </nav>

    <h1 id="heading"> Nelisa Spaza Shop </h1>
<div class="image-div">
<img src="../images/shop_inside.jpg" alt="Shop" style="width:304px;height:228px;">
</div>


    <div id="tradingHours">
<ul>
  <b><p>Trading Hours</p>
    <li>Monday-Friday: 8AM -19:00PM </li>
    <li> Saturday:8:00 AM - 14:00PM</li>
    <li>Sunday:9:00AM - 13:00PM</li></b>

</ul>
  </div>





      <div id="dropdownbox" class="btn-group">
      <ul>
        <!-- <a href="./homepage.handlebars" class="btn btn-info" role="button">Home</a> -->
        <!-- <form><input type="button" class ="btn-info" VALUE="Back" onClick="history.go(-1);return true;"></form> -->


          <!-- <a href="./homepage.handlebars" class="btn btn-info" role="button">Home</a> -->
     <!-- <a href="./week1.handlebars" class="btn btn-info" role="button">Week 1</a>
          <a href="./week2.handlebars" class="btn btn-info" role="button">Week 2</a>
          <a href="./week3.handlebars" class="btn btn-info" role="button">Week 3</a>
          <a href="./week4.handlebars" class="btn btn-info" role="button">Week 4</a> -->

          <!-- <a href="./week1.handlebars" class="button">Week 1</a>
          <a href="./week2.handlebars" class="button">Week 2</a>
          <a href="./week3.handlebars" class="button">Week 3</a>
          <a href="./week4.handlebars" class="button">Week 4</a> -->



    </ul>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../public/JS/bootstrap.js"></script>
  </body>

</html>



<!-- <div>
  <h1>Nelisa Spaza Shop</h1>
  <div class="body">
  <body>
    <p>The most popular product is :  </p>
    <p>The least popular product is :  </p>
    <p>The most popular category is :  </p>
    <p>The least popular Category is :  </p>
    <p>The most Profitable Product is: </p>
    <p>The most Profitable category is :  </p>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="handlebars v4.0.5.js"></script>


</body>
</div> -->


<!-- mostPopularProduct: mpp1,
leastPopularProduct: lpp1,
mostProfitableProduct: mpfp1,
mostProfitableCategory: mpfpC1 -->
