  <body class="body">

    <h1 id="heading"> NELISA SPAZA SHOP </h1>
<div class="image-div">
<img src="../images/shop_inside.jpg" alt="Shop" style="width:304px;height:228px;">
</div>


    <div id="tradingHours">

  <b><p>Trading Hours</p>
    <li>Monday-Friday: 8AM -19:00PM </li>
    <li> Saturday:8:00 AM - 14:00PM</li>
    <li>Sunday:9:00AM - 13:00PM</li></b>


  </div>
