
<div class="main-div">

     <h1 id="heading"> You can find your statistics for each week here: </h1>
    <div id="linkInfo">
      <ul>
        <h2> The statistics contains:
        </h2>
        <li> The most popular product for each week. </li>
          <li> The least popular product for each week. </li>
          <li> The most popular category for each week. </li>
          <li> The least popular category for each week. </li>
          <li> The most profitable product for each week. </li>
          <li> The most profitable category for each week. </li>
      </ul>
      <h3> Find each weeks statistics below </h3>
    </div>
      <!-- <div id ="links"> -->

        <div id="dropdownbox" class="btn-group">
      <ul>
         <!-- <a href="./homepage.handlebars" class="btn btn-info" role="button">Home</a>   -->
         <a href="/week1" class="btn-info" role="button">Week 1</a>
        <a href="/week2" class="btn-info" role="button">Week 2</a>
        <a href="/week3" class="btn-info" role="button">Week 3</a>
        <a href="/week4" class="btn-info" role="button">Week 4</a>



    </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../public/JS/bootstrap.js"></script>
