<div class="row-list">

  <hgroup>
<h1>LOGIN</h1>
</hgroup>

  <form action="/login" method="POST">
    <div class="group">
      <h4>Name</h4>
      <input name="username"type="text"><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group">
      <h4>Password</h4>
      <input name="password" type="password"><span class="highlight"></span><span class="bar"></span>
    </div>

    <button type="submit" class="button buttonBlue">Login
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <a href="/signup">Dont have an Account? Create one here</a>
  </form>
</div>
