<ul class="row-list">

  <!-- <form action ="/products/search/" method="POST">
     <input id="searchBar" type="text" name="search" placeholder="Search.." >
    <button> <input type="submit" value="submit"></button>

  </form> -->



  <li class="col-md-6 head"><b>Product</b></li>
  <li class="col-md-6 head"><b>Category</b></li>
        {{#search}}

          <li class="col-md-6 db-List">{{product}}</li>
          <li class="col-md-6 db-List">{{category}}</li>

        {{/search}}
        <a href="" class="btn btn-primary" role="button" onClick="history.go(-1); return true;">Back</a>
    </ul>
