
  <form action ="/products/search/" method="POST">
     <input id="searchBar" type="text" name="searchVal" placeholder="Search.." >
    <!-- <button> <input type="submit" value="submit"></button> -->

  </form>

  <ul  id="productsSearch" class="row-list">
  <!-- <ul id="productsSearch"> -->
  <li class="col-md-4 head"><b>Product</b></li>
  <li class="col-md-4 head"><b>Category</b></li>
  <a href="/products/addProduct" class="btn btn-primary col-md-4 "><b>Add Product</b></a>


        {{#products}}

          <li class="col-md-4 db-List"> {{product}}</li>
          <li class="col-md-4 db-List">{{category}}</li>
          <a href="/products/editProduct/{{id}}" class="btn btn-primary col-md-2 ">Edit</a>
          <a href="/products/delete/{{id}}" class="btn btn-primary col-md-2 ">Delete</a>
        {{/products}}
  </ul>
<!-- </ul> -->


<script>
$(document).ready(function() {
  $('#searchBar').keyup(function(){
    var searchVal= $("#searchBar").val();
    $.get("/products/search/" + searchVal, function(results){
      console.log(searchVal);
      $("#productsSearch").html(results)
    });
    if(searchVal.length === 0){
      location.reload();
    }
  })

})
</script>
