<ul class="row-list">

  <li class="col-md-3 head"><b>Date</b></li>
  <li class="col-md-3 head"><b>Product</b></li>
  <li class="col-md-3 head"><b>Sold</b></li>
  <li class="col-md-3 head"><b>Price</b></li>



        {{#search}}
        <li class="col-md-3 head"><b>{{date}}</b></li>
        <li class="col-md-3 head"><b>{{product}}</b></li>
        <li class="col-md-3 head"><b>{{sold}}</b></li>
        <li class="col-md-3 head"><b>{{price}}</b></li>

        {{/search}}
        <a href="" class="btn btn-primary" role="button" onClick="history.go(-1); return true;">Back</a>

    </ul>
