<div class="row-list">

  <hgroup>
<h1>SIGN UP</h1>

</hgroup>

  <form method="POST">
    <div class="group">
      <h4>Name</h4>
      <input autofill="null" name="username"type="text"><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group">
      <h4>Password</h4>
      <input name="password" type="password"><span class="highlight"></span><span class="bar"></span>
    </div>

    <div id="warning">{{messages.warning}}</div>

    <button type="submit" class="button buttonBlue">Sign Up
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <a href="/login">Already have an Account? Login here</a>
  </form>
</div>
