<ul class="row-list">

<li class="col-md-4 head"><b>User</b></li>
<li class="col-md-4 head"><b>Admin</b></li>
<li class="col-md-4 head"><b>Locked</b></li>


{{#search}}

  <li class="col-md-4 db-List"> {{username}}</li>
  <li class="col-md-4 db-List">{{admin}}</li>
  <li class="col-md-4 db-List">{{locked}}</li>
  {{/search}}
  <a href="" class="btn btn-primary" role="button" onClick="history.go(-1); return true;">Back</a>
  
</ul>
