<div>
  <h1>week1</h1>
  <div class="body">
  <body>
    <p>The most popular product is : [object Object] </p>
    <p>The least popular product is : [object Object] </p>
    <p>The most popular category is : [object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object] </p>
    <p>The least popular Category is :  </p>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="handlebars v4.0.5.js"></script>


</body>
</div>

<!-- mostPopularProduct: mpp1,
leastPopularProduct: lpp1,
mostProfitableProduct: mpfp1,
mostProfitableCategory: mpfpC1 -->
